<main>
    <h3 class="font-lg my-2"><strong>Short Survey</strong></h3>
    <p>
        The Short Survey is required for all clients and is designed to identify those who have
        no interest in sustainability. If the client has no interest in sustainability at the end of the Short
        Survey, then no further explanation or Survey of sustainability preferences is required, and we
        can proceed to financial product recommendation. If the client expresses any interest in
        sustainability or a need for further information, then further explanation should be provided during the
        Medium Survey.
    </p>
    <h3 class="font-lg my-2"><strong>Medium Survey</strong></h3>
    <p>
        As you have expressed an interest in sustainability or a need for further information,
        an overview of the different sustainability goals observed among investors and further detail in relation
        to sustainability preferences can now be provided if needed. This information should help you form an opinion
        and express your sustainability goals and preferences.
    </p>
    <h3 class="font-lg my-2"><strong>Main sustainability goals</strong></h3>
    <p>
        Investors deciding to incorporate ESG criteria in their investment usually pursue three main goals (in
        addition to the initial objective of achieving a financial return). It should be underlined that some
        investors can have several goals for their investment.
    </p>
    <p>
        <span class="font-semibold">Impact:</span> You may want to have a positive impact on society and the environment
        through your investments.
    </p>
    <p>
        <span class="font-semibold">Value alignment:</span> You may want to align your investments with your personal
        values - either by prioritizing financing specific economic activities or by avoiding financing specific
        economic activities.
    </p>
    <p>
        <span class="font-semibold">Financial performance through ESG:</span> You may want to invest in a manner which
        takes account of sustainability factors because you believe it will improve the risk/return profile of the
        investment.
    </p>
    <p>
        <img src="/assets/infographic-1.png"
            alt="Sustainability goals of retail clients in purchasing financial products taking into account environmental criteria" />
    </p>
    <h3 class="font-lg my-2"><strong>Specific explanation to be provided to all clients who have an interest in
            impact</strong></h3>
    <p>
        Investor impact is not the same as company impact. Investor impact is the change in a company's
        activities caused by the investor - in other words it is the effect the investor has through its actions or
        with its money on the company's decisions (which then impact on environment and society).
    </p>
    <p>
        The impact of an investor can be defined as the change that the investor has caused in the activities of
        the company benefiting from his investment. In the context of climate change mitigation, this change
        can either take the form of a growth in a "green" company's activities (e.g. a growth of its green power
        production) or of a change in the quality of a company's activities (e.g. an increase in the energy
        efficiency of a plant).
    </p>
    <p>
        Currently, the level of evidence of investor impact available for financial products is generally low and
        thus cannot be guaranteed.
    </p>
    <p>
        For example, companies need money from third parties to finance their activities and have shareholders
        who own a portion of the company and can influence company decisions. Shareholder pressure or lack
        of financing can force companies to close unsustainable factories or invest in sustainable activities.
    </p>
    <p>
        Both changes impact on environment and society through for example reducing emissions. But it can be
        very difficult to measure the individual impact of an individual shareholder or third party on a company's
        activities. If an energy company closes a coal-fired power plant, it is easy to measure the emissions
        saved. But measuring how much of this decision is attributable to an individual shareholder or third party
        is complicated. An investor's individual influence may have helped push the company to close the plant
        - but the collective influence of all investors is more determinative. And other factors - coal becoming
        more expensive, carbon taxes being introduced - may have also played a part. It is very difficult to know
        how important an investor's individual actions are in the decision of the energy company to close the
        coal plant. This shows that it is very difficult to prove investor impact.
    </p>
    <p>
        However, certain sustainability strategies have higher potential of impact than others (such as
        stewardship, impact investing, income-sharing) and help to identify products which are more suitable for
        impact-oriented clients
    </p>
    <h3 class="font-lg my-2"><strong>Long Survey</strong></h3>
    <p>
        As you have expressed an interest in providing more detail regarding your values and priorities, I can
        provide further explanation in relation to other elements of your potential sustainability motivations.
        Values and priorities
    </p>
    <h3 class="font-lg my-2"><strong>Values and priorities leading to promotion of certain sectors and
            companies</strong></h3>
    <p>If you want to be more detailed about specific values and priorities you want to advance through your
        investments, the United Nations Sustainable Development Goals (SDGs) can be used to provide more
        precision on the values and priorities you wish to prioritize. The SDGs establish 17 global goals to
        achieve a better and more sustainable future for all by 2030 and were adopted by all United Nations
        Member States in 2015.
    </p>
    <p>
        a) Environmental matters captured by the SDGs include conservation and protection of marine and land
        resources, ensuring access to affordable, reliable, sustainable and modern energy for all and taking
        urgent action to combat climate change.
    </p>
    <p>
        b) Social and governance matters captured by the SDGs include combating hunger worldwide, ensuring
        that all people can go to the doctor when they are ill, ensuring quality education for all or achieving
        gender equality and empowering all women and girls.
    </p>
    <p>
        Using the SDGs allows you to identify the personal values and priorities which are most important to
        you and where you would like to see progress.
    </p>
    <h3 class="font-lg my-2"><strong>Values and priorities leading to exclusion of certain sectors and
            companies</strong></h3>
    <p>
        If you want to be more detailed about economic activities you refuse to be financially exposed to, it is
        possible to define negative screening criteria to specify what a financial instrument must avoid investing
        in.
    </p>
    <p>
        a) Environmental matters where negative screening criteria can include pesticides and biocides, animal
        testing, genetic engineering, coal, factory farming etc.
    </p>
    <p>
        b) Social and ethical matters where negative screening criteria can include weapons and armaments,
        tobacco, alcohol, gambling, and pornography.
    </p>
    <p>
        c) Breach of international norms where negative screening criteria can include for example principles of
        the UN Global Compact.
    </p>
    <p>
        Equally, you may want to be more detailed about countries you refuse to be financially exposed to. For
        example, you may want to avoid being financially exposed to countries involved in the following
        controversies: nuclear weapons, wars, corruption, etc.
    </p>
    <p class="text-xs text-gray-600 my-4">References, images, and content from: <br> 2° Investing Initiative (2DII)
        (2022) Draft questionnaire &amp; guidance for client sustainability preferences - 2dii, 2DII - Aligning
        financial markets with the Paris Agreement goals. Available at:
        https://2degrees-investing.org/resource/draft-questionnaire-guidance-for-client-sustainability-preferences/
        (Accessed: March 7, 2023). </p>
    <div class="my-4">
        <app-short-survey [disabledInputs]="['B']" (submit)="onShortSurveySubmit($event)">
        </app-short-survey>
    </div>
</main>