<h3 class="font-lg font-semibold">Short Survey</h3>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label>Do you have sustainability preferences for your investment?</label>
    <div *ngIf="!disabledInputs.includes('A')">
        <input class="mr-2" type="radio" formControlName="q1" id="q1a" name="q1" value="A">
        <label for="q1a">a) Yes</label>
    </div>
    <div *ngIf="!disabledInputs.includes('B')">
        <input class="mr-2" type="radio" formControlName="q1" id="q1b" name="q1" value="B">
        <label for="q1b">b) Don't know, need to hear more about it</label>
    </div>
    <div *ngIf="!disabledInputs.includes('C')">
        <input class="mr-2" type="radio" formControlName="q1" id="q1c" name="q1" value="C">
        <label for="q1c">c) No, only care about financial aspects of the investment</label>
    </div>
    <button id="submit" class="my-3 border-2 border-slate-700 rounded p-3 disabled:opacity-50"
        [disabled]="!formGroup.valid" type="submit">Next</button>
</form>