<h3 class="font-lg font-semibold">Risk Survey</h3>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label>When do you expect to withdraw cash from your investment portfolio?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r1" id="r1a" name="r1" value="A">
        <label for="r1a">a) In less than 1 year</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r1" id="r1b" name="r1" value="B">
        <label for="r1b">b) Within 1 to 2 years</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r1" id="r1c" name="r1" value="C">
        <label for="r1c">c) Within 2 to 5 years</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r1" id="r1d" name="r1" value="D">
        <label for="r1d">d) Within 5 to 10 years</label>
    </div>
    <div class="mb-4">
        <input class="mr-2" type="radio" formControlName="r1" id="r1e" name="r1" value="E">
        <label for="r1e">e) More than 10 years</label>
    </div>
    <label>If your household lost its primary source(s) of income tomorrow, how long could your current living
        expenses be covered with present savings and liquid, short-term investments before your investment portfolio
        would have to be drawn from?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r2" id="r2a" name="r2" value="A">
        <label for="r2a">a) Less than 3 months</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r2" id="r2b" name="r2" value="B">
        <label for="r2b">b) 3 to 6 months</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r2" id="r2c" name="r2" value="C">
        <label for="r2c">c) 6 to 12 months</label>
    </div>
    <div class="mb-4">
        <input class="mr-2" type="radio" formControlName="r2" id="r2d" name="r2" value="D">
        <label for="r2d">d) More than 12 months</label>
    </div>
    <label>Over the next few years, what do you expect will happen to your income?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r3" id="r3a" name="r3" value="A">
        <label for="r3a">a) It will probably decrease substantially</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r3" id="r3b" name="r3" value="B">
        <label for="r3b">b) It will probably decrease slightly</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r3" id="r3c" name="r3" value="C">
        <label for="r3c">c) It will probably stay the same</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r3" id="r3d" name="r3" value="D">
        <label for="r3d">d) It will probably increase slightly</label>
    </div>
    <div class="mb-4">
        <input class="mr-2" type="radio" formControlName="r3" id="r3e" name="r3" value="E">
        <label for="r3e">e) It will probably increase substantially</label>
    </div>
    <label>Over the next few years, what do you expect will happen to your rate of savings?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r4" id="r4a" name="r4" value="A">
        <label for="r4a">a) It will probably decrease substantially</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r4" id="r4b" name="r4" value="B">
        <label for="r4b">b) It will probably decrease slightly</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r4" id="r4c" name="r4" value="C">
        <label for="r4c">c) It will probably stay the same</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r4" id="r4d" name="r4" value="D">
        <label for="r4d">d) It will probably increase slightly</label>
    </div>
    <div class="mb-4">
        <input class="mr-2" type="radio" formControlName="r4" id="r4e" name="r4" value="E">
        <label for="r4e">e) It will probably increase substantially</label>
    </div>
    <label>What are your return expectations for your portfolio?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r5" id="r5a" name="r5" value="A">
        <label for="r5a">a) I don't care if my portfolio keeps pace with inflation; I just want to preserve my
            capital</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r5" id="r5b" name="r5" value="B">
        <label for="r5b">b) My return should keep pace with inflation, with minimum volatility</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r5" id="r5c" name="r5" value="C">
        <label for="r5c">c) My return should be slightly more than inflation, with only moderate volatility</label>
    </div>
    <div class="mb-4">
        <input class="mr-2" type="radio" formControlName="r5" id="r5d" name="r5" value="D">
        <label for="r5d">d) My return should significantly exceed inflation, even if this could mean significant
            volatility</label>
    </div>
    <label>How would you characterize your personality?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r6" id="r6a" name="r6" value="A">
        <label for="r6a">a) I'm a pessimist; I always expect the worst</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r6" id="r6b" name="r6" value="B">
        <label for="r6b">b) I'm anxious; no matter what you say, I'll worry</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r6" id="r6c" name="r6" value="C">
        <label for="r6c">c) I'm cautious but open to new ideas; convince me</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r6" id="r6d" name="r6" value="D">
        <label for="r6d">d) I'm objective; show me the pros and cons and I can make a decision and live with it</label>
    </div>
    <div class="mb-4">
        <input class="mr-2" type="radio" formControlName="r6" id="r6e" name="r6" value="E">
        <label for="r6e">e) I'm optimistic; things always work out in the end</label>
    </div>
    <label>When monitoring your investments over time, what do you think you will tend to focus on?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r7" id="r7a" name="r7" value="A">
        <label for="r7a">a) Individual investments that are doing poorly</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r7" id="r7b" name="r7" value="B">
        <label for="r7b">b) Individual investments that are doing very well</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r7" id="r7c" name="r7" value="C">
        <label for="r7c">c) The recent results of my overall portfolio</label>
    </div>
    <div class="mb-4">
        <input class="mr-2" type="radio" formControlName="r7" id="r7d" name="r7" value="D">
        <label for="r7d">d) The long term performance of my overall portfolio</label>
    </div>
    <label>Suppose you had $10,000 to invest and the choice of 5 different portfolios with a range of
        possible outcomes after a single year. Which of the following portfolios would you feel most comfortable
        investing in?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r8" id="r8a" name="r8" value="A">
        <label for="r8a">a) Portfolio A, which could have a balance ranging from $9,900 to $10,300 at the end of the
            year</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r8" id="r8b" name="r8" value="B">
        <label for="r8b">b) Portfolio B, which could have a balance ranging from $9,800 to $10,600 at the end of the
            year</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r8" id="r8c" name="r8" value="C">
        <label for="r8c">c) Portfolio C, which could have a balance ranging from $9,600 to $11,000 at the end of the
            year</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r8" id="r8d" name="r8" value="D">
        <label for="r8d">d) Portfolio D, which could have a balance ranging from $9,200 to $12,200 at the end of the
            year</label>
    </div>
    <div class="mb-4">
        <input class="mr-2" type="radio" formControlName="r8" id="r8e" name="r8" value="E">
        <label for="r8e">e) Portfolio E, which could have a balance ranging from $8,400 to $14,000 at the end of the
            year</label>
    </div>
    <label>If the value of your investment portfolio dropped by 20% in one year, what would you do?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r9" id="r9a" name="r9" value="A">
        <label for="r9a">a) Fire my investment advisor</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r9" id="r9b" name="r9" value="B">
        <label for="r9b">b) Move my money to more conservative investments immediately to reduce the potential for
            future losses</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r9" id="r9c" name="r9" value="C">
        <label for="r9c">c) Monitor the situation, and if it looks like things could continue to deteriorate, move some
            of my money to more conservative investments</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r9" id="r9d" name="r9" value="D">
        <label for="r9d">d) Consult with my investment advisor to ensure that my asset allocation is correct, and then
            ride it out</label>
    </div>
    <div class="mb-4">
        <input class="mr-2" type="radio" formControlName="r9" id="r9e" name="r9" value="E">
        <label for="r9e">e) Consider investing more because prices are so low</label>
    </div>
    <label>Which of the following are you most likely to compare your portfolio's success to?</label>
    <div>
        <input class="mr-2" type="radio" formControlName="r10" id="r10a" name="r10" value="A">
        <label for="r10a">a) The principal amount</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r10" id="r10b" name="r10" value="B">
        <label for="r10b">b) The principal amount adjusted for inflation</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r10" id="r10c" name="r10" value="C">
        <label for="r10c">c) My own personal investment goals</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r10" id="r10d" name="r10" value="D">
        <label for="r10d">d) Industry benchmarks</label>
    </div>
    <div>
        <input class="mr-2" type="radio" formControlName="r10" id="r10e" name="r10" value="E">
        <label for="r10e">e) A missed investment opportunity that could have yielded higher returns over the long term,
            even though it entailed higher risk</label>
    </div>

    <button id="submit" class="my-3 border-2 border-slate-700 rounded p-3 disabled:opacity-50"
        [disabled]="!formGroup.valid" type="submit">Next</button>
</form>